@main-bg-color: #fff;
@body-bg-color: #f6f8f9;
@split-line-color: #f0f2f3;
@container-width: 1200px;
@header-height: 64px;
@footer-height: 64px;
@main-left-width: 850px;
@main-right-width: 320px;
@main-color: #1890ff;
@main-color-bg: fade(@main-color, 10);
@border-radius: 4px;
@box-shadow-color: #e3e5e6;

@main-font-r: PingFangSC-Regular, PingFang SC;
@main-font-m: PingFangSC-Medium, PingFang SC;
