.article-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .content {
        width: @main-left-width;
        .wrapper-card {
            margin-top: 25px;
        }
    }
    .side {
        width: @main-right-width;
    }
}
