.Home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    .articles {
        width: @main-left-width;
    }
    .tags {
        width: @main-right-width;
    }
}
