.home {
    width: 100%;
    .content {
        display: flex;
        justify-content: space-between;
        justify-items: flex-start;
        .articles {
            width: @main-left-width;
        }
        .cards {
            width: @main-right-width;
        }
    }
}
