.article-tags {
    width: 100%;
    .item-wrapper {
        padding: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 20px 40px -15px rgba(0, 0, 0, .05) !important;
        .item {
            display: inline-block;
            border-color: rgba(0, 0, 0, .12);
            color: rgba(0, 0, 0, .87);
            border-radius: 4px;
            background: #e0e0e0;
            margin: 6px;
            padding: 5px 8px;
            cursor: pointer;
            &:hover {
                background: #d0d0d0;
            }
            .anticon {
                position: relative;
                top: -1px;
            }
            .label {
                margin: 0 4px;
            }
        }
    }
}
